@font-face {
  font-family: "neue-montreal-medium";
  src: url("fonts/NeueMontreal-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

:root {
  font-size: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);

}

* {
  box-sizing: border-box;
}

input, textarea, select, button {
    font-family: inherit;
    font-size: inherit;
    font-size: 0.7rem;
}

body {
  font-family: "neue-montreal-medium", sans-serif;

}

h1 {
  
  padding: 0em 35%;
  max-width: 80%;
  margin: auto;
}


fieldset {
  width: 40%;
  min-width: 30%;
  margin: 25px auto;
  border-radius: 12px;
  padding: 0.35em;
  border: none;
}

.field-row {
  outline: 1px solid;
  width: 70%;
  
  border-radius: 12px;
  margin: auto;
  padding: 1.5em;
}

.field-input {
  display: flex;
  flex-direction: row;
  padding: 0em 0em;
  max-width: 100%;
}

.field-input-checkbox {
  gap: 1rem;
}

.input-box {
    width: 75%;
    border-radius: 10px;
  }


.span-field-row {
  outline: 1px solid;
  width: 70%;
  border-radius: 12px;
  margin: auto;
  padding: 1.5em;
}

.span-field-input {
  padding: 0em 0em;
  max-width: 20%;
}





.span-field-input-float {
  display: flex;
  flex-direction: column;
  max-width: 30%;
  padding: 0;
  padding-right: 45%;
  float: right;
}



input[type=time]{
  width: 100px;
  margin: auto;
  
}

input[type=date]{
  width: 100px;
  margin: auto;
}

input[type=tel]{
  width: 100px;
  margin: auto;
}

input[type=number]{
  width: 100px;
  margin: auto;
}



.button-box {
  
  display: flex;
  width: 25%;
  gap: 1.5rem;
  margin: auto;
  padding: 0 ;
  
  #submitBtn {
    
    padding: 8px;
    border-radius: 14px;
    
    
  }

  #resetBtn {
    
    padding: 8px;
    border-radius: 14px;
  }
}

#maskEmailBtn {
    padding: 2px;
    border-radius: 6px;
    
    margin: auto;
    font-size: 0.5rem;
  }




@media screen and (max-width: 768px) {
    
  .span-field-row {
    flex-direction: column;
    align-items: stretch;
  }
  
  .span-field-input,
  .span-field-input-float {
    max-width: 20%;
    width: 20%;
  }

  .span-field-input-float {
  display: flex;
  flex-direction: column;
  margin: auto;
  max-width: 20%;
  margin: auto;
  padding-right: 7em;
  float: right;
  }
  
  .button-box {
    flex-direction: column;
    width: 70%;
    gap: 1em;
  }
  
  h1 {
    padding: 0em 10%;
  }
  
  fieldset {
    width: 90%;
  }
}