:root {
    font-size: clamp(1.125rem, 1.0815rem + 0.2174vi, 1.25rem);
}

* {
    box-sizing: border-box;
}

h1 {
    padding-left: 6%;
    padding-bottom: 4%;
}

body {
    display: flex;
    outline: 1px solid;
    border-radius: 12px;
    justify-content: space-evenly;
    width: 35%;
    padding: 3% 2%;
    padding-top: 1.5%;
    margin: auto;
    margin-top: 4%;
    min-width: 400px;
    background-color: rgba(223, 231, 231, 0.123);
}

.form {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.fieldset-box {
    display: flex;
    border-radius: 12px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    border: none;
    margin-top: 0%;
    margin-bottom: 3%;
}

.fieldset-box-sec-element {
    margin-top: 0%;
    margin-bottom: 3%;
    width: 100%;
    border-radius: 12px;
    border: none;
}

.field-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.span-field-row {
    display: flex;
    flex-direction: column;

    width: 100%;
}

.button-box {
    display: flex;
}

.field-input {
    display: flex;
    flex-direction: row;

    width: 100%;
}

.span-field-input-float {
    display: flex;
    flex-direction: column;
}

.container {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
}

.field-input-emailBtn,
.field-input-checkbox {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.field-input-emailBtn {
    gap: 0.25rem;
}

.input-box {
    width: 100%;
    border: 2px solid rgba(60, 92, 92, 0.842);
    border-radius: 8px;
    margin-top: 4px;
    color: darkslategrey;
    outline-color: rgb(63, 155, 155);
    background-color: rgba(88, 173, 173, 0.089);
}

.button-box {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 1em;
    margin: 2% auto;
    padding-top: 2%;
    padding-left: 6%;
}

#submitBtn {
    padding: 8px;
    border-radius: 14px;
    border: 3px solid rgba(37, 51, 51, 0.842);
    background-color: rgba(171, 226, 226, 0.301);
}

#resetBtn {
    padding: 8px;
    border-radius: 14px;
    border: 2px solid rgba(37, 51, 51, 0.842);
    background-color: rgba(166, 223, 223, 0.192);
}

#maskEmailBtn {
    padding: 2px 3px;
    border-radius: 8px;
    border: 2px solid rgba(37, 51, 51, 0.842);
    background-color: rgba(166, 223, 223, 0.192);
    margin: auto;
    font-size: 0.6rem;
}

@media screen and (max-width: 1030px) {

    .form {
        flex-direction: column;
        align-items: stretch;
    }

    .container {
        display: flex;
        flex-direction: column;
        gap: 0rem;
    }

    .button-box {
        flex-direction: column;
        width: 100%;
        padding-right: 4%;
        padding-left: 4%;
        gap: 0.5em;
    }

    h1 {
        padding: 0em 10%;
    }
}